<header>
    <div
            class="p-5 text-center bg-image"
            style="background-image: url('https://media.discordapp.net/attachments/1051428575296892958/1086761248374394884/sushihead.png');height: 450px;">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-center text-white">

                    <h1 class="mb-3">SushiShop®</h1>

                </div>
            </div>
        </div>
</header>

<!-- Section-->
<section class="py-5">
    
    <div class="text-center text-white">
        <h3 class="mb-3"> Nos box :</h3>
    </div>
    <div class="container px-4 px-lg-5 mt-5">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col mb-5"  *ngFor="let box of boxes" >
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="http://localhost:8080/api/image/{{ box.image }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ box.nom }}</h5>
                            <!-- Product reviews-->
                            
                            <!-- Product price-->
                            {{ box.prix }}€
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Détails</a></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
  
    <h2>Angular Display Data from Json File Example</h2>
    
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of boxes">
          <td>{{ box.id }}</td>
          <td>{{ box.nom }}</td>
          <td>{{ box.prix }}</td>
        </tr>
      </tbody>
    </table>
  </div>