
<div class = 'popup-background'>

<h2 mat-dialog-title class=" fw-normal mb-2">Valider la commande</h2>
<mat-dialog-content class=" fw-normal ">Voulez-vous valider la commande ?</mat-dialog-content>
<mat-dialog-actions>
    <button class=btn btn-warning btn-block btn-lg mat-button [mat-dialog-close] lead fw-normal mb-2="true">Oui</button>
    <div class = 'me-1'></div>
    <button class=btn btn-warning btn-block btn-lg mat-button mat-dialog-close lead fw-normal mb-2>Non</button>
  
</mat-dialog-actions>
</div>
