<div class="container">
    <h2 class="my-4">Politique de confidentialité SushiFast</h2>
    <p>
      La collecte de vos données personnelles en rapport au commande en ligne de SushiFast permet de proposer un meilleur service, sur la conformité au RGPD ainsi que nos offres de produits et de services, la base légale est l’article 6.1 b du règlement européen en matière de protection des données personnelles , “le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci;”
    </p>
    <p>
      La destination de vos données en ligne sont le responsables de traitement, du service internes de SushiFast, (Vincent DURANG, Theo PINCEEL, Anthony DANTAS PAIVA) l'article 4.7 “ «responsable du traitement», la personne physique ou morale, l'autorité publique, le service ou un autre organisme qui, seul ou conjointement avec d'autres, détermine les finalités et les moyens du traitement; lorsque les finalités et les moyens de ce traitement sont déterminés par le droit de l'Union ou le droit d'un État membre, le responsable du traitement peut être désigné ou les critères spécifiques applicables à sa désignation peuvent être prévus par le droit de l'Union ou par le droit d'un État membre;”
    </p>
    <p>
      La durée de traitement des données est limitée au temps pendant lequel vous êtes inscrit à nos services (article 13.2). La fourniture des données n’est pas obligatoire (article 13.2.e).
    </p>
  </div>
  